body { font-family: Helvetica, Sans, Arial;
       background-color: #2f2f2f;
       color: #FFFFFF;
       font-size: medium;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       width: 800px;
     }
