a:link { color: #5050FF; }
a:visited { color: #A050BB; }
body { font-family: Helvetica, Sans, Arial;
       background-color: #2a2a2a;
       color: #FFFFFF;
       font-size: medium;
       margin-left: auto;
       margin-right: auto;
       width: 600px;
     }
body h1 {
    text-align: center;
    font-size: 500%;
}

body h2 {
    text-align: center;
    font-size: 250%;
}

body h3 {
    text-align: center;
    font-size: 150%;
}

.note {
    font-size: 65%;
}